.bo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url(./5.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0px 20px #00000054;
    position: relative;
    perspective: 500px;
}


.trang {
    width: 180px;
    height: 180px;
    left: 20px;
    top: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    box-shadow: inset 1px 1px 2px 1px black;
}

.den {
    width: 180px;
    height: 180px;
    background: black;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 37px;
    transition: 0.4s;
    transform: rotateY(-180deg);
    color: #fff;
}

.xanh {
    width: 180px;
    height: 180px;
    position: absolute;
}

.xanh {
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 4;
    background-image: url(./4.jpg);
    background-size: cover;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    transition: 0.4s;
    backface-visibility: hidden;
}
.bo:hover .xanh {
    transform: rotateY(180deg)
}

.bo:hover .den {
    transform: rotateY(0deg)
}